.wrapper{
  height: 100vh;
  width: 100vw;

  .header {
    background-color: #38AEF0;
    width: 100%;
    text-align: center;
    color:#FFFFFF;
  }

  .contents{

    &__left-content {
    background-color: #2f3e51;
    width: 300px;
    height: 100vh;
    float: left;

      &-high {
      background-color: #253141;
      width: calc(100% - 40px);
      height: 100px;
      padding: 0px 20px 0px 20px;

        &-text {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        height: 100px;
        line-height: 100px;
        float: left;
        }
          &-icon {
          height: 100px;
          line-height: 100px;
          float: right;
          color: #FFFFFF;
          }
      }
    }
            &__other {
            width: 100%;
            padding: 0px 20px 0px 20px;

              &-text {
              color: #FFFFFF;
              font-size: 15px;
              margin-top:20px;
              }
                &-mini {
                color: #FFFFFF;
                font-size: 11px;
                margin: 5px 0 40px 0;
                }
            }
  }

  .content {
    float: right;
    position: relative;

      &__right {
        height: 100%;
        width: calc(100vw - 380px);
        padding: 0px 40px 0px 40px;

        &-botton {
          height: 40px;
          line-height: 40px;
          width: 60px;
          padding: 0px 20px 0px 20px;
          border: solid#38AEF0;
          float: right;
          margin-top: 28px;
          color: #38AEF0;
          text-align: center;
        }
          &-text {
          color: #333333;
          font-size: 20px;
          margin: 35px 0 15px 0;
          float: left;
          }
            &-mini {
            color: #999999;
            font-size: 12px;
            clear: both;
            }
      }

              &__row {
              height: calc(100vh - 100px);
              border-top: solid#eeeeee;
              padding: 0px 40px 0px 40px;

                &-left {
                width: calc(100% - 40px);
                font-weight: bold;
                padding: 46px 0 10px 0;

                  &-text {
                  color: #434A54;
                  font-size: 16px;
                  font-weight: bold;
                  float: left;
                  padding: 0 10px 0 0;
                  }
                    &-days {
                    color: #999999;
                    font-size: 12px;
                    }
                }
                      &-mini {
                      color: #434A54;
                      font-size: 14px;
                      padding: 0 0 40px 0;
                      }
              }

                            &__footer {
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            background-color: #B8C3C7;

                              &-text {
                              width: 920px;
                              height: 50px;
                              background-color: #FFFFFF;
                              float: left;
                              margin: 20px 10px 20px 50px;

                                &-message {
                                height: 50px;
                                line-height: 50px;
                                float: left;
                                padding: 0 0 0 10px;
                                color: #B8C3C7;
                                }
                                &-imageicon {
                                height: 50px;
                                line-height: 50px;
                                float: right;
                                padding: 0 10px 0 0;
                                }
                              }
                                  &-botton {
                                  height: 50px;
                                  line-height: 50px;
                                  width: 100px;
                                  float: left;
                                  background-color:#38AEF0;
                                  margin: 20px 40px 20px 15px;
                                  text-align:center;
                                  color: #FFFFFF;
                                  }
                             }
  }
}
