$blueColor: #38AEF0;
$whiteColor: #FFFFFF;
$deepBlueColor: #2f3e51;
$blackColor: #253141;
$mailTextColor: #333333;
$subTextColor: #999999;
$borderColor: #eeeeee;
$nickNameTextColor: #434A54;
$dateTextColor: #434A54;
$grayColor: #B8C3C7;
