.wrapper

  .header
    チャットグループが作成されました

  .contents
    .contents__left-content
      .contents__left-content-high
        .contents__left-content-high-text
          松村颯太
        .contents__left-content-high-icon
          %i.fa.fa-pencil-square-o
          %i.fa.fa-cog
      .contents__other
        .contents__other-text
          テストテスト
        .contents__other-mini
          テストテスト

  .content
    .content__right
      .content__right-botton
        Edit
      .content__right-text
        投稿１１１１１
      .content__right-mini
        テストテスト
    .content__row
      .content__row-left
        .content__row-left-text
          なるほどなるほど
        .content__row-left-days
          2018.0203
      .content__row-mini
        さささささ
    .content__footer
      .content__footer-text
        .content__footer-text-message
          type a message
        .content__footer-text-imageicon
          %i.fa.fa-image
      .content__footer-botton
        SEND
